<p>Keep track of gigs by your favourite artists while you travel the world. We'll check Dopplr and Songkick and send you alerts when one of your tracked artists is playing in a city you're going to.</p>

<p><a href="/dopplr">First, we need permission to view your travel itinerary on Dopplr.</a></p>
