<p>We also need to know your username on Songkick so we can track your profile.</p>
<form method="post">
    <input type="text" name="songkick" id="songkick" />
    <input type="submit" value="That's me" />
</form>
